name: test
on:
  repository_dispatch:
    types: [external_trigger]
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run
        run: echo "Hello, World!"