name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: 32
            build_type: basic
            os: ubuntu-24.04-arm
          - arch: 32
            build_type: basic
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        if: ${{ matrix.os != 'ubuntu-latest' || github.event_name == 'pull_request' }}